
@{
    ViewBag.Title = "NotAutheticated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>403 Forbidden Error</h2>
<br />
<br />
<br />
<div>
    <img src="http://cdn3.wpbeginner.com/wp-content/uploads/2016/03/403forbiddenerror.jpg" height="750" width="1200" />
</div>


