@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Something happend while you tried to break our application.</h2>
<br />
<div>
    <h3>Please do not try to break the application. Thank you.</h3>
</div>