@{
    ViewBag.Title = "Custom404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error 404 Page not found</h2>
<br />
<div>
    <h3>The page you are trying to access does not exist.</h3>
</div>

